<div class="panel ">
	<form class="form" [formGroup]="form"  (ngSubmit)="onSubmit()"  >
		<div class="panel-heading justify-content-center d-flex logo-heading">
			<h3>Вход в систему</h3>
		</div>
		<div class="panel-center">
			<mat-form-field>
				<input matInput name="login" formControlName="login" placeholder="Логин" (keydown)="removeInvalid()">
			</mat-form-field>
			<mat-form-field>
				<input matInput class="form-control-lg form-control" name="password"  type="password" formControlName="password" placeholder="Пароль" (keydown)="removeInvalid()">
			</mat-form-field>
			<div class="form-check">
				<mat-checkbox formControlName="remember" class="form-check-input">Запомнить меня</mat-checkbox>
			</div>
			<div class="w100 justify-content-center d-flex button">
				<button class="btn btn-lg btn-block " mat-raised-button
						[color]="invalid?'primary':'warn'"
						type="submit"
						[disabled]="form.invalid|| invalid  || loading ">{{invalid?'Данные неверны!':'Вход'}}</button>
			</div>
		</div>
	</form>
</div>